/*tried "font-style, didn't work, but font-weight did*/
.firstline {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}
.secondline {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}
.thirdline {
	background-color: yellow;
}
.boldred {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}
#highlight {
	background-color: yellow;
}